:root {
    --bg-color: #808080;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

.header--nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.header--nav ul li button img {
    width: 30px;
}

main {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}

.hero {
    text-align: center;
    width: 100%;
}

.hero--title {
    font-size: 2.6rem;
}

.hero--time p {
    font-size: 2.4rem;
}

.header--button {
    background-color: transparent;
    border: transparent;
}

.hero--button {
    background-color: white;
    border-radius: 40px;
    border: transparent;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    height: 20px;
    width: 40px;
}

button:hover {
    cursor: pointer;
}

.hero--button:disabled {
    background-color: lightgray;
    border: lightgray solid;
}

.pomodoro--container .pomodoro {
    width: 70px;
    background-color: tomato;
    border: transparent;
    border-radius: 40px;
}

.pomodoro--container {
    margin: 15px;
}

/*ALARM*/

.clock {
    width: 30rem;
    height: 30rem;
    border: 7px solid darkgrey;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
                inset 4px 4px 10px rgba(0, 0, 0, 0.5),
                inset -4px -4px 10px rgba(67, 67, 67, 0.5),
                inset 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.outer-clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: gray;

    overflow: hidden;
}

.outer-clock-face::after {
    transform: rotate(90deg);
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: gray;
    z-index: -1;
    left: 49%;
}

.outer-clock-face .marking {
    background: gray;
    width: 3px;
    z-index: 0;
}

.outer-clock-face .marking.marking-one {
    transform: rotate(30deg);
}

.outer-clock-face .marking.marking-two {
    transform: rotate(60deg);
}

.outer-clock-face .marking.marking-three {
    transform: rotate(120deg);
}

.outer-clock-face .marking.marking-four {
    transform: rotate(150deg);
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: gray;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: salmon;
    z-index: 11;
}

.hand {
    width: 50%;
    height: 6px;
    right: 50%;
    background: yellow;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 30%;
    z-index: 3;
    background: blue;
}

.hand.minute-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}

.hand.second-hand {
    background: yellowgreen;
    width: 45%;
    height: 2px;
}
